<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcz.tmall.mapper.ReviewMapper">
    <insert id="add" parameterType="Review">
        insert into review (content, uid, pid, createDate) values (#{content},#{uid},#{pid},#{createDate})
    </insert>

    <delete id="delete" parameterType="int">
        delete from review where id = #{id}
    </delete>

    <update id="update" parameterType="Review">
        update review set content = #{content},createDate = #{createDate} where id = #{id};
    </update>

    <select id="list" parameterType="int" resultType="Review">
        select * from review where pid = #{pid} order by id desc
    </select>

    <select id="get" parameterType="int" resultType="Review">
        select * from review where id = #{id} order by id desc
    </select>

    <select id="getCount" parameterType="int" resultType="int">
        select count(*) from review where pid = #{pid}
    </select>
</mapper>